body {
  padding: 0px;
  margin: 0 auto;
}
body header {
  background-color: rgba(182, 182, 182, 0.7);
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 10;
}
body header .logo {
  height: 60px;
  width: 60px;
  float: left;
}
body header .nav {
  padding: 0px;
  float: right;
  width: 350px;
  margin-right: 20px;
}
body header .nav a {
  text-decoration: none;
  color: #444444;
  display: block;
  float: left;
  height: 40px;
  width: 50px;
  padding: 20px 0 0 36px;
  text-align: center;
}
body header .nav a:hover {
  color: #d12d2d;
}
body .title {
  height: 610px;
  width: 100%;
  background-image: url(img/nathan-lindahl-1j18807_ul0-unsplash.jpg);
  background-size: cover;
  position: relative;
}
body .title .container {
  color: white;
  position: absolute;
  top: 55%;
  left: 50%;
  width: 90%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  border: none;
}
body .title .container h1 {
  font-size: 45px;
}
body .title .container p {
  font-size: 25px;
}
body .profile {
  height: 400px;
  width: 100%;
  position: relative;
  margin-bottom: 50px;
}
body .profile h2 {
  font-size: 26px;
  color: #444444;
  width: 90%;
  border-bottom: solid 2px #6179c7;
  margin: 0 auto;
  padding: 20px 0 8px 0;
}
body .profile .container {
  position: absolute;
  top: 55%;
  left: 50%;
  width: 90%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  padding-top: 20px;
  height: 300px;
}
body .profile .container img {
  height: 180px;
  width: 180px;
  border-radius: 50%;
  border: #444444 solid 1px;
  display: inline-block;
  margin-right: 50px;
}
body .profile .container .profile-contents {
  line-height: 26px;
  display: inline-block;
  font-size: 12px;
  text-align: left;
  color: #444444;
}
body .career {
  height: 400px;
  width: 100%;
  position: relative;
  margin-bottom: 50px;
}
body .career h3 {
  font-size: 26px;
  color: #444444;
  width: 90%;
  border-bottom: solid 2px #6179c7;
  margin: 0 auto;
  padding: 20px 0 8px 0;
}
body .career .container {
  position: absolute;
  top: 55%;
  left: 50%;
  width: 90%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  padding-top: 10px;
  line-height: 24px;
  height: 300px;
}
body .career .container .career-contents {
  display: inline-block;
  color: #444444;
  text-align: left;
  margin-right: 50px;
}
body .career .container img {
  height: 340px;
  width: 340px;
  display: inline-block;
  opacity: 0.6;
}
body .future {
  height: 400px;
  width: 100%;
  position: relative;
  margin-bottom: 50px;
  background-image: url(img/kseniya-petukhova-podnUpkBT5I-unsplash.jpg);
  background-size: cover;
}
body .future h4 {
  font-size: 26px;
  color: #444444;
  width: 90%;
  border-bottom: solid 2px #6179c7;
  margin: 0 auto;
  padding: 20px 0 8px 0;
}
body .future .container {
  position: absolute;
  top: 55%;
  left: 50%;
  width: 90%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  height: 300px;
  margin: 0px;
}
body .future .container p {
  margin-top: 30px;
  font-size: 20px;
  color: #444444;
  opacity: 0.9;
}
body .works {
  height: 400px;
  width: 100%;
  position: relative;
  margin-bottom: 50px;
}
body .works h5 {
  font-size: 26px;
  color: #444444;
  width: 90%;
  border-bottom: solid 2px #6179c7;
  margin: 0 auto;
  padding: 20px 0 8px 0;
}
body .works .container {
  position: absolute;
  top: 55%;
  left: 50%;
  width: 90%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 40px;
}
body .works .container img {
  height: 200px;
  width: 300px;
  border: solid 1px #00000094;
}
body .works .container a:hover {
  opacity: 0.6;
}
body .works .container p {
  color: #444444;
  font-size: 14px;
  font-weight: bold;
}
body footer {
  height: 60px;
  width: 100%;
  border-top: #6179c7 solid 1px;
}
body footer img {
  height: 50px;
  width: 50px;
  float: left;
}
body footer p {
  float: right;
  font-size: 12px;
  color: #444444;
  margin: 20px 10px 0 0;
}

@media (max-width: 1000px) {
  body .career {
    height: 700px;
  }
  body .career .container {
    height: 600px;
  }
  body .career .container .img {
    margin: 0 auto;
  }
  body .works {
    height: 600px;
  }
  body .works .container {
    display: block;
    height: 500px;
  }
  body .works .container .workContent {
    margin-bottom: 30px;
  }
}
@media (max-width: 670px) {
  body .career {
    height: 750px;
  }
  body .career .container {
    height: 650px;
  }
  body .career .container .img {
    margin: 0 auto;
  }
  body .future .container .messagepoint {
    color: aliceblue;
  }
}
/*# sourceMappingURL=stylesheet.css.map */